h1 {
  color: #331ed2;
}

h2 {
  color: #331ed2;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: Tahoma;
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 2px;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 20%;
  z-index: visible;
  }

nav li {
  color: Tahoma;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  padding: 5px;
  }

main {
  text-align: center;
  position: relative;
  top: 5px;
}

main h1 {
  display: flex;
  color: #331ed2;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin: 0 auto;
  text-transform: uppercase;
}

footer {
  display: flex;
  background-color: #331ed2;
  color: #331ed2;
  padding: 5px;
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
} 

footer p {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
} 

.container {
  max-width: fit-content;
  margin: 0 auto;
  text-align: center;
}

.jumbotron .jumbotron-fluid {
  background-size: cover;
  background-image: url("assets/images/DIpicture1.jpg") no repeat center center "50% 50%";
  width: 100%;
  height: 600px;
  margin-top: auto;
}

.btn-main {
  background-color: #331ed2;
  color: #331ed2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;  
  margin-bottom: 20px;      
}

.supporting {
  display: flex;
  text-align: center;
  padding-top: 5px; 
  padding-bottom: 5px;
}

.supporting .col {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 200px;
  display: inline-block;
  height: 200px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 5px;
  width: 40%;
  }

.supporting h2 {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  }

.supporting p,
.display-4,
.lead {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0 5px;
  margin: auto 0;
}

.supporting a {
  background-color: #331ed2;
  color: #331ed2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 100px; 
  margin: auto 0;
  }

  /* Default background for large screens */
body {
    background-image: url('desktop-background.jpg');
    background-size: cover;
}

/* Background for mobile devices */
@media (max-width: 480px) {
    body {
        background-image: url('mobile-background.jpg');
    }
  }
  @container (max-width: 300px) {
  .card {
    padding: 8px;
    font-size: 0.8rem;
    flex-direction: column;
  }
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.container p {
  margin: auto 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}