h1 {
  color: #331ed2;
}

h2 {
  color: #331ed2;
}

.uppercase {
  text-transform: uppercase;
}

#article-title {
  font-family: Tahoma;
}

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 2px;
}

header {
  display: flex;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 20%;
  z-index: visible;
  }

nav li {
  color: Tahoma;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  padding: 2px;
  }

main {
  text-align: center;
  position: relative;
  top: 2px;
}

main h1 {
  display: flex;
  color: #331ed2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin: 0 auto;
  text-transform: uppercase;
}

footer {
  display: flex;
  background-color: #331ed2;
  color: #331ed2;
  padding: 2px;
  text-align: center;
  margin-bottom: 10px;
  position: fixed;
  width: 100%;
} 

footer p {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
} 

.container {
  max-width: min-content;
  margin: 0 auto;
  text-align: center;
}

.jumbotron.jumbotron-fluid {
  background-size: cover;
  background-image: url("assets/images/DIpicture1.jpg") #fff no repeat center center "50% 50%";
  width: 100%;
  height: 600px;
  margin-top: auto;
}

.btn-main {
  background-color: #331ed2;
  color: #331ed2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-default {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;  
  margin-bottom: 20px;      
}

.supporting {
  display: flex;
  text-align: center;
  padding-top: 2px; 
  padding-bottom: 2px;
}

.supporting .col {
  display: flex;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width: 200px;
  display: inline-block;
  height: 200px;
}

img {
  height: 5px;
  padding: 2px;
    }

.supporting h2 {
  display: flex;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  padding: 2px;
}

.supporting p,
.display-4,
.my-4,
.lead {
  display: flex;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 0 45px 15px 45px;
  margin: 20px 0;
}

.supporting a {
  background-color: #331ed2;
  color: #331ed2;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 45px; 
  margin-bottom: 10px;
  border: 2px solid #333333;
  }

 div {
    width: 100%;
    height: 600px;
    background: #331ed2 url(assets/images/DIpicture1.jpg) no-repeat 50% 50%;
} 

  /* Default background for large screens */
body {
    background-image: url('desktop-background.jpg');
    background-size: cover;
}

/* Background for mobile devices */
@media (max-width: 480px) {
    body {
        background-image: url('mobile-background.jpg');
    }
  }